<app-base-section>
  <span title>{{ 'customers.title' | translate }}</span>
  <div class="mat-elevation-z6">
    <!-- TODO: try use https://stackblitz.com/edit/mat-table-responsive -->
    <mat-table [dataSource]="customerList">
      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef>{{ 'customers.caption.number' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [attr.data-label]="'customers.caption.number' | translate"> {{element.number}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>{{ 'customers.caption.name' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [attr.data-label]="'customers.caption.name' | translate"> {{element.name}} </mat-cell>
      </ng-container>
      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>{{ 'customers.caption.phone' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [attr.data-label]="'customers.caption.phone' | translate"> {{element.phone}} </mat-cell>
      </ng-container>
      <!-- E-Mail Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>{{ 'customers.caption.email' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [attr.data-label]="'customers.caption.email' | translate"> {{element.email}} </mat-cell>
      </ng-container>
      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef>{{ 'customers.caption.address' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [attr.data-label]="'customers.caption.address' | translate"> {{element.address}} </mat-cell>
      </ng-container>

      <!-- Menu Column -->
      <ng-container matColumnDef="menu">
        <mat-header-cell *matHeaderCellDef>{{ 'common.caption.actions' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [attr.data-label]="'common.caption.actions' | translate">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(element)">
              <mat-icon>edit</mat-icon>
              <span>{{ 'common.menu.edit' | translate }}</span>
            </button>
            <button mat-menu-item (click)="remove(element)">
              <mat-icon>delete</mat-icon>
              <span>{{ 'common.menu.remove' | translate }}</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </div>
</app-base-section>