<app-base-page
  [saveButtonDisabled]="vm.form?.invalid"
  (save)="vm.save()">
  <span title>{{ 'items.item-page' | translate }}</span>
  <span sub-title>{{ vm.subTitle$ | async }}</span>
  <form [formGroup]="vm.form">
    <mat-grid-list [cols]="vm.isMobile ? 1 : 4" rowHeight="64px">

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'items.label.name' | translate" formControlName="name" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'items.label.code' | translate" formControlName="code" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'items.label.bar-code' | translate" formControlName="barCode" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>{{ 'items.label.type' | translate }}</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of vm.itemTypes" [value]="type.value">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'items.label.price' | translate" formControlName="price" type="number" />
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile [colspan]="vm.isMobile ? 1 : 3">
        <mat-form-field style="width: 100%; padding: 3px 0 3px 0">
          <input matInput [placeholder]="'items.label.description' | translate" formControlName="description" />
        </mat-form-field>
      </mat-grid-tile>
      

    </mat-grid-list>
  </form>
</app-base-page>