<app-base-page
  [saveButtonDisabled]="vm.form?.invalid"
  (save)="vm.save()">
  <span title>{{ 'orders.order-page' | translate }}</span>
  <span sub-title>{{ vm.subTitle$ | async }}</span>
  <form [formGroup]="vm.form">
    <mat-grid-list [cols]="vm.isMobile ? 1 : 3" rowHeight="64px">

      <mat-grid-tile>
        <mat-form-field>
          <mat-label>{{ 'orders.label.type' | translate }}</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of vm.orderTypes" [value]="type.value">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'orders.label.number' | translate" formControlName="number" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'orders.label.quantity' | translate" formControlName="qty" type="number" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'orders.label.customer' | translate" formControlName="customer" />
        </mat-form-field>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'orders.label.item' | translate" formControlName="item" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'orders.label.store' | translate" formControlName="store" />
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>
</app-base-page>