<app-base-page
  [saveButtonHidden]="true">
  <span title>{{ 'transactions.transaction--page' | translate }}</span>
  <span sub-title>{{ vm.subTitle$ | async }}</span>
  <form [formGroup]="vm.form">
    <mat-grid-list [cols]="vm.isMobile ? 1 : 2" rowHeight="64px">

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'transactions.label.type' | translate" formControlName="type" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'transactions.label.status' | translate" formControlName="status" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'transactions.label.from' | translate" formControlName="from" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'transactions.label.to' | translate" formControlName="to" />
        </mat-form-field>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'transactions.label.order' | translate" formControlName="order" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'transactions.label.date' | translate" formControlName="date" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'transactions.label.quantity' | translate" formControlName="qty" />
        </mat-form-field>
      </mat-grid-tile>

    </mat-grid-list>
  </form>
</app-base-page>