<app-base-page
  [saveButtonDisabled]="vm.form?.invalid"
  (save)="vm.save()">
  <span title>{{ 'stocks.stock-page' | translate }}</span>
  <span sub-title>{{ vm.subTitle$ | async }}</span>
  <form [formGroup]="vm.form">
    <mat-grid-list [cols]="vm.isMobile ? 1 : 2" rowHeight="64px">

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'stocks.caption.item' | translate" formControlName="item" />
          <button mat-button matSuffix mat-icon-button *ngIf="vm.form?.get('item').value"
            (click)="vm.form.get('item').setValue(null)">
            <mat-icon>clear</mat-icon>
          </button>
          <button mat-button matSuffix mat-icon-button (click)="vm.openLookup('items', 'item', vm.itemsDisplayedColumns)">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'stocks.caption.store' | translate" formControlName="store" />
          <button mat-button matSuffix mat-icon-button *ngIf="vm.form?.get('store').value"
            (click)="vm.form.get('store').setValue(null)">
            <mat-icon>clear</mat-icon>
          </button>
          <button mat-button matSuffix mat-icon-button (click)="vm.openLookup('stores', 'store', vm.storesDisplayedColumns)">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'stocks.caption.quantity' | translate" formControlName="qty" type="number" />
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>{{ 'stocks.caption.status' | translate }}</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of vm.stockStatuses" [value]="status.value">
              {{status.name | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      

    </mat-grid-list>
  </form>
</app-base-page>