<app-base-page
  [saveButtonDisabled]="vm.form?.invalid"
  (save)="vm.save()">
  <span title>{{ 'stocks.stock-page' | translate }}</span>
  <span sub-title>{{ vm.subTitle$ | async }}</span>
  <form [formGroup]="vm.form">
    <mat-grid-list [cols]="vm.isMobile ? 1 : 2" rowHeight="64px">

      <mat-grid-tile>
        <app-lookup-control formControlName="item" propertyName="item"></app-lookup-control>
      </mat-grid-tile>

      <mat-grid-tile>
        <app-lookup-control formControlName="store" propertyName="store"></app-lookup-control>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-form-field>
          <input matInput [placeholder]="'stocks.caption.quantity' | translate" formControlName="qty" type="number" />
        </mat-form-field>
      </mat-grid-tile>
  
      <mat-grid-tile>
        <mat-form-field>
          <mat-label>{{ 'stocks.caption.status' | translate }}</mat-label>
          <mat-select formControlName="status">
            <mat-option *ngFor="let status of vm.stockStatuses" [value]="status.value">
              {{status.name | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      

    </mat-grid-list>
  </form>
</app-base-page>