<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-app-name" routerLink="." style="cursor: pointer">AT-CORP ERP</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a *ngFor="let nav of fillerNav"
          mat-list-item
          routerLinkActive="active-link"
          [routerLink]="nav.path"
          (click)="navLinkClick()"
        >{{nav.title}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="padding: 6px">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>