<mat-toolbar>
  <mat-toolbar-row>
    <span class="title">{{ vm.title | async }}</span>
    <button
      *ngIf="!vm.saveButtonHidden"
      mat-raised-button
      color="primary"
      (click)="vm.onNewButtonClick()">{{ 'common.new-button' | translate }}</button>
  </mat-toolbar-row>
</mat-toolbar>
<div style="padding-left: 24px; font-size: x-large">
  <div class="mat-elevation-z8">
    <!-- TODO: try use https://stackblitz.com/edit/mat-table-responsive -->
    <mat-table [dataSource]="vm.dataSource" matSort>
      <!-- Columns -->
      <div *ngFor="let column of vm.columnsToDisplay">
        <ng-container [matColumnDef]="column">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>{{ vm.getColumnCaption(column) | async }}</mat-header-cell>
          <mat-cell *matCellDef="let element" [attr.data-label]="vm.getColumnCaption(column) | async" (dblclick)="vm.edit(element)">
            <span *ngIf="vm.isDate(element[column]); then dateSpan else span"></span>
            <ng-template  #span>{{(element[column] || '').toString() | translate }}</ng-template>
            <ng-template #dateSpan>{{element[column] | date:'dd.MM.yyyy'}}</ng-template>
          </mat-cell>
        </ng-container>
      </div>

      <!-- Menu Column -->
      <ng-container matColumnDef="menu" *ngIf="vm.displayedColumns?.includes('menu')">
        <mat-header-cell *matHeaderCellDef>{{ 'common.caption.actions' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [attr.data-label]="'common.caption.actions' | translate">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="vm.edit(element)">
              <mat-icon>edit</mat-icon>
              <span>{{ 'common.menu.edit' | translate }}</span>
            </button>
            <button mat-menu-item (click)="vm.remove(element)">
              <mat-icon>delete</mat-icon>
              <span>{{ 'common.menu.remove' | translate }}</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="vm.displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: vm.displayedColumns;"></mat-row>

    </mat-table>
  </div>
</div>
<ng-content></ng-content>
